<div id="body">
  <h1>This Entry</h1>
  <div class="row">
    <div class="columns small-3">
    </div>
    <div class="columns small-6 small-centered">
      <table>
        <tbody>
          <tr>
            <td>Contact:</td>
            <td><%= @entry.contact_name %></td>
          </tr>
          <tr>
            <td>Organization:</td>
            <td><%= @entry.organization_name %></td>
          </tr>
          <tr>
            <td>Method:</td>
            <td><%= @com_type %></td>
          </tr>
          <tr>
            <td>Comments:</td>
            <td><%= @entry.notes %>
          </tr>
        </tbody>
      </table>
      <%= link_to "Edit", edit_entry_path(@entry), class: "button" %>
    </div>
    <div class="columns small-3">
    </div>
  </div>
  <div class="row">
    <div class="columns small-3">
    </div>
    <div class="columns small-6 small-centered">
    <a href="/entries" class="button">Back</a>
    </div>
    <div class="columns small-3">
    </div>
  </div>
  <div class="row">
    <div class="columns small-3">
    </div>
    <div class="columns small-6 small-centered">
    <a href="/" class="button">Home</a>
    </div>
    <div class="columns small-3">
    </div>
  </div>
</div>
