<h1>This Entry</h1>

Contact:  <%= @entry.contact_name %>
Organization:  <%= @entry.organization_name %>
Method:  <%= @com_type %>
Comments:  <%= @entry.notes %>


<%= link_to "Edit", edit_entry_path(@entry) %>
<a href="/entries">Home</a>
